%ul#meta
  #meta-cancel.meta-toggle
  %li
    %h6 Time
    %h4
      = date
  %li
    %h6 Role
    %h4
      = role
  - if local_assigns[:url]
    %li
      %a{:href=>url, :title=>"Live Project URL", :target=>"_blank"} View live