%ul.contact-list
  %h6 Get in touch
  %li
    %a(href="mailto:utopastac@gmail.com" title="Peter Wright Email") Email
  %li
    %a(href="https://www.linkedin.com/in/utopastac/" title="Peter Wright LinkedIn") LinkedIn
  %li
    %a(href="https://twitter.com/utopastac" title="Peter Wright Twitter") Twitter
  %li
    %a(href="https://medium.com/@utopastac" title="Peter Wright Medium") Medium