%ul#contact-list
  %h6 Get in touch
  %li
    %a(href="#" title="Peter Wright LinkedIn") Email
  %li
    %a(href="#" title="Peter Wright LinkedIn") LinkedIn
  %li
    %a(href="#" title="Peter Wright LinkedIn") Twitter
  %li
    %a(href="#" title="Peter Wright LinkedIn") Medium