%ul#ideas-list
	%li Isn’t under their control
	%li Not all positive
	%li Not all fair
	%li Not all useful
	%li Right to reply
	%li Uber style system
	%li Friction for diner 
	%li Friction for waiting staff
	%li What’s the benefit for the diner
	%li What’s the best time to ask for feedback
	%li NPS?
	%li What is useful feedback?
	%li What is useless feedback?
	%li Built into payment flow
	%li Built into bill flow
	%li Hand written notes scanned and verified
	%li Repeat discount offered (game for higher scores?)
	%li How to verify
	%li Managed via management
	%li Mystery shopper
	%li Something on exit from restaurant
	%li Something in bathrooms?
	%li Using payment app like wahaca
	%li Checklist of things
	%li 
		Do better at x x x
		You’re great at x x x
		I would have liked x x x
	%li Bathrooms are anonymous
	%li People like to reward good service
	%li Linked to tipping?
	%li Could be done via a card machine based on tip given
	%li Company can boost tips based on responses
	%li Incentive to get better == more money
	%li Spider diagram to show improvement
	%li Competitive within company
	%li CV generation
	%li Punch card system
	%li Do you remember good/bad/mediocre service?
	%li ‘That’s a great tip! We will add 50% to it if you tell us what was good about the service’
	%li ‘No tip? Tell us what was bad about the service for a 5% discount on your bill’
	%li Tip shaming?
	%li Randomly allocated survey
	%li Need a way of tracking service to wait staff
	%li Everyone has different ideas of ‘good’ - how do you average out? How to adjust for outliers?
	%li ‘You aren’t reviewing the food, you’re reviewing the service’
	%li When do people have time?
	%li What are the universally good characteristics of service?
	%li All averaged against your own individual performance 
	%li Menu based - physical
	%li Straws in drinks
	%li Abacus
	%li Dot voting desirability word table
	%li Develop transferable skills
	%li On review company pays tip?
	%li Exposed metrics to judge service?
	%li Evaluated based on customer profile - previous reviews and service measures
	%li Link review to loyalty scheme
	%li (White label) Metrics tracking app for restaurants and for staff
	%li 'Above and Beyond' button