.gallery
  margin-top: 7em

  .image
    overflow: hidden
    max-height: 550px
    border-radius: 8px
    box-shadow: 0 0 18px rgba(0,0,0,0.1), 0 0 4px rgba(0,0,0,0.2)
    margin-bottom: 0.8em
    position: relative

    &:after
      transition: all 0.4s
      content: ""
      position: absolute
      opacity: 0
      top: 1em
      right: 1em
      background: rgba(black, 0.5) image-url("zoom.svg") no-repeat center center
      background-size: 50% auto
      width: 4em
      height: 4em
      border-radius: 4px

    &:hover
      &:after
        opacity: 1

  img
    width: 100%
    cursor: pointer    

  figcaption + img
    margin-top: 3em