.gallery
  margin-top: 7em

  img
    width: 100%
    margin-bottom: 0.8em
    border-radius: 8px
    box-shadow: 0 0 18px rgba(0,0,0,0.1), 0 0 4px rgba(0,0,0,0.2)

  figcaption + img
    margin-top: 3em