@import "utilz"
@import "variables"
@import "typography"
@import "layout"
@import "navigation"
@import "resume"
@import "meta"
@import "gallery"
@import "quotes"
@import "page-navigation"
@import "overlay"
@import "article-link"
@import "secret"

*, *:before, *:after
  box-sizing: border-box

ul, li, ol
  margin: 0
  padding: 0

li
  list-style-type: none

html
  font-size: 62.5%
  //font-size: 50%
  //@include min($screen-xs)
    //font-size: 62.5%
  background: white
  margin: 0
  padding: 0
  overflow-x: hidden

body
  padding: 0
  margin: 0 0 0 0
  width: 100%
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  background-image: image-url("hexagon.svg") 
  background-repeat: no-repeat
  background-size: 100% auto
  background-position: 0 -20em
  //background-attachment: fixed

  &.fixed
    position: fixed
    overflow-y: scroll

  &.dk-blue
    background-color: blue

    h1, h2, h3, h4, h5, h6 p, .title
      color: blue

    button, input[type="submit"], a.button
      background: blue
      color: blue

  &.mint
    background-color: $mint-bg
    background-position: 0em -20em
    background-image: image-url("plus.svg")
  &.cream
    //background-color: #FFFAE8
    background-position: 20em -20em
    background-image: image-url("hexagon.svg")
  &.pink
    //background-color: $pink-bg
    background-position: 10em -20em
    background-image: image-url("quad.svg")

%inner-content
  width: 100%
  height: 100%
  max-width: 1280px
  margin: 0 auto

main
  @extend %inner-content
  padding: 7em 2em
  @include min($screen-m)
    padding: 7em 2em

footer
  padding: 10em 2em
  @include min($screen-m)
    padding: 10em 2em
  background: white

  a
    font-weight: 600

    &:hover
      background: $yellow
  > div
    @extend %inner-content
    @extend .row
    justify-content: flex-end

    > *
      @include columnsWide(3, $screen-m)
      padding-left: 2em
      margin-bottom: 4em
      @include min($screen-m)
        border-left: 2px solid $text-colour
      text-align: left !important

    h6
      margin-bottom: 2rem
