/* lightweight 12 column grid */
$grid-columns: 12
$grid-max-width: 100%

@mixin min($width)
  @media screen and (min-width: $width)
    @content

@mixin max($width)
  @media screen and (max-width: $width)
    @content

@mixin offset($col, $size: $screen-m)
  @include min($size)
    margin-left: percentage($col/$grid-columns)

@mixin offsetRight($col, $size: $screen-m)
  @include min($size)
    margin-right: percentage($col/$grid-columns)

@mixin columnsWide($col, $size)
  width: 100%
  @include min($size)
    width: percentage($col/$grid-columns)
  
@mixin center-box
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

%centered
  margin: 0 auto

%container
  padding: 0 1em
  @include min($screen-m)
    padding: 0 2em

.no-break
  white-space: nowrap

.row
  @extend %centered
  width: 100%
  position: relative
  display: flex
  flex-wrap: wrap
  max-width: $grid-max-width
  

.main-content
  @include columnsWide(8, $screen-m)
  @include offsetRight(1, $screen-m)

.side-content
  position: fixed
  top: 0
  right: -70vw
  padding-left: 3em
  width: 70vw
  height: 100vh
  background: white
  box-shadow: -5px 0 12px rgba(0,0,0,0.1)
  z-index: 10000
  overflow-y: scroll
  border-top-left-radius: 8px
  border-bottom-left-radius: 8px
  -webkit-overflow-scrolling: touch

  @include min($screen-m)
    position: relative
    padding-left: 0
    height: auto
    background: transparent
    box-shadow: none
    right: auto
    @include columnsWide(3, $screen-m)

#home
  .main-content
    padding-top: 3em
  .side-content
    .contact-list
      a
        @extend %block-link
        background-color: transparent

section.content
  //@extend .row
  margin-top: 12em
  padding-top: 3em
  border-top: 3px solid $text-colour

  h3
    //@include columnsWide(4, $screen-m)
    padding-right: 2em
    margin-bottom: 0.25em

  > div
    //@include columnsWide(8, $screen-m) 

  p
    margin-bottom: 2rem
    color: $light-text-colour
