ul.contact-list
  text-align: right
  h6
    margin-bottom: 2rem
    
.home-link
  @extend %heading-1
  margin-bottom: 2rem
  display: inline-flex
  padding: 0 0.2em
  align-items: center
  text-decoration: none
  position: relative

  &:before
    content: ""
    height: 12px
    width: 32px
    margin-right: 8px
    background: image-url("nav-arrow.png") no-repeat center center
    background-size: auto 100%

  &:hover
    text-decoration: underline
    //background-color: $green

#meta-display
  position: absolute
  top: 0
  right: 3em
  width: 4em
  height: 4em
  background: image-url("more.png") no-repeat center center
  background-size: 2.4rem auto

  @include min($screen-m)
    display: none

#meta-cancel
  position: absolute
  top: 3em
  right: 3em
  width: 4em
  height: 4em
  background: image-url("close.svg") no-repeat center center
  background-size: 50% auto

  @include min($screen-m)
    display: none

.meta-toggle
  cursor: pointer
  z-index: 1000
