ol#page-navigation
  margin-top: 5em

  h5
    margin-bottom: 1em
    font-weight: 500

  li
    margin-bottom: 0.5rem
    position: relative
    cursor: pointer
    
    span
      padding: 0 0.2em
      display: inline-flex
      align-items: center

      &:before
        content: ""
        height: 14px
        width: 8px
        margin-right: 8px
        background: image-url("nav-arrow.png") no-repeat center center
        background-size: auto 100%

    &:hover
      span
        background: $green