#quotes
  padding: 5em
  background: white
  margin-top: 6em
  
  ul
    @include min($screen-m)
      columns: 1

  li
    margin-bottom: 2em
    padding-bottom: 2em
    position: relative
    break-inside: avoid-column
    
    &:not(:last-child)
      border-bottom: 1px solid $green

    h6
      margin-top: 1em
