$dot-size: 12px
$line-width: 2.5px
$dot-offset: 0.5em

section#resume
  margin: 15em 0 0 0
  background: white
  padding: 5em 4em 0 4em
  @extend .row
  @include columnsWide(10, $screen-m)
  @include offset(1, $screen-m)

  > header
    width: 100%
    margin-bottom: 4em

  ul
    @include columnsWide(10, $screen-m)
    @include offset(1, $screen-m)

  li
    display: block

    @include min($screen-m)
      &:not(:last-child)
        a
          header
            &:before
              content: ""
              position: absolute
              top: calc(#{$dot-offset} + #{$dot-size})
              right: calc(1em + #{$dot-size/2} - 1px)
              bottom: -$dot-offset
              width: $line-width
              border-left: $line-width solid $text-colour

    > a
      @extend .row
      text-decoration: none
      font-weight: inherit
      position: relative

      &:hover
        h4, h5
          text-decoration: underline
        header            
          &:after
            border-color: transparent
            background: $text-colour
        .content span
          box-shadow: 4px 4px 0 0 $yellow
          z-index: 1000
          background-color: $green
          color: $text-colour

      header

        @include columnsWide(4, $screen-m)
        padding-right: 3em
        position: relative

        @include max($screen-m)
          margin-bottom: 1em

        @include min($screen-m)
          text-align: right

          &:after
            content: ""
            position: absolute
            top: $dot-offset
            right: 1em
            width: $dot-size
            height: $dot-size
            border: $line-width solid $text-colour
            border-radius: 500px
        

      .content
        @include columnsWide(8, $screen-m)
        padding-bottom: 4em
        position: relative
        background: white

        span
          @extend %block-link
          text-decoration: underline

        h4
          line-height: 1.35
          @extend %title-1

    h4, h5, h6
      font-weight: 200
      line-height: 1.2

    h5
      font-weight: 600      
      @extend %heading-0