section#resume
  margin: 15em 0 0 0
  @extend .row

  header
    @include columnsWide(2, $screen-m)
    margin-bottom: 4em

  ul
    @include columnsWide(9, $screen-m)

  li
    margin-bottom: 1.5em

    > a
      @extend .row
      text-decoration: none
      font-weight: inherit

      &:hover
        //text-decoration: underline
        h2
          background-color: $text-colour
          color: $green

      .image
        @include columnsWide(5, $screen-m)
        padding-right: 1em
        overflow: hidden
        margin-bottom: 1em
        border-radius: 5px

        img
          width: 100%
          border-radius: 5px
        

      .content
        @include columnsWide(7, $screen-m)

    h2
      margin-bottom: 0.2em
      display: inline-block
      background-color: $yellow
    h4
      margin-bottom: 0.8em
    p
      margin-bottom: 0.8em
    a