$baseSize: 16
$sans: "futura-pt", sans-serif
$serif: "grad", serif

@mixin fontSize($size, $line)
  font-size: $size / 16 + rem
  line-height: $line / $size

%body-1
  @include fontSize(20, 26)

%body-0
  @include fontSize(16, 19)

%heading-4
  font-family: $serif
  @include fontSize(64, 68)
  font-weight: 600

%heading-3
  font-family: $serif
  @include fontSize(48, 48)
  font-weight: 600

%heading-2
  font-family: $serif
  @include fontSize(34, 36)
  font-weight: 600

%heading-1
  font-family: $serif
  @include fontSize(24, 26)
  font-weight: 600

%heading-0
  font-family: $sans
  @include fontSize(14, 18)
  text-transform: uppercase
  font-weight: 600

%button
  @extend %heading-1
  border-radius: 500px
  color: white
  background: $text-colour
  padding: 0 1em
  height: 3.125em
  line-height: 3.125em

body
  font-family: $sans
  color: $text-colour
  font-size: 100%

h2, h3, h4, h5, h6, p, li, blockquote
  margin: 0

a
  text-decoration: none
  color: $text-colour

p
  @extend %body-1

h1, h2, h3, h4, h5, h6 p
  a
    color: inherit

h1
  @extend %heading-4
  
h2
  @extend %heading-3
  
h3
  @extend %heading-2

h4
  @extend %body-0
  font-weight: 600

h5
  @extend %heading-0
