// fixed spacing variables
$space-xs: 1rem
$space-s: 1.2rem
$space-m: 2rem
$space-l: 3.8rem
$space-xl: 5.2rem
$space-xxl: 7rem
//
$screen-xs: 350px
$screen-s: 550px
$screen-m: 750px
$screen-l: 1000px
$screen-xl: 1200px
//
//SIZES
$nav-height-mobile: 6rem
$nav-height-desktop: 9.4rem
//GLOBAL Z-INDEXES - groups into 1000s
$z-nav: 10000
$z-overlay: 11000
//
//colours
$text-colour: #1F3657
$grey-light: #D0D2CF
$grey-bg: #F4F4F4
//
$cta: #4770DF//487CEF//19367F//19367F//#146896//1640AA
//
$light-border: 1px solid $grey-light

$coral: #ffc8ac
$aqua: #93ffeb
$blue: #a6e1ff